### Java / Maven ###
**/target/
**/.idea/
**/.classpath
**/.project
**/.settings/

### Node / Angular ###
**/node_modules/
**/dist/
**/.angular/
### OS ###
.DS_Store
*.log
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### H2 ###
flashcards-api/data/
