 <div class="home-container">



    <aside class="info-panel">
      <app-info-panel [infoItems]="infoItems()"></app-info-panel>
    </aside>




    <div class="cards-link-container">



      <a routerLink="/quiz" class="cards-links-color">
        <mat-card class="info-card start-quiz-card">

          <mat-card-header>
            <mat-card-title>Lernsession starten</mat-card-title>
          </mat-card-header>

          <mat-card-content>
          </mat-card-content>

        </mat-card>
      </a>




      <div class="sets-cards-container">



        <a routerLink="/sets" class="cards-links-color sets-card">
          <mat-card class="info-card">

            <mat-card-header>
              <mat-card-title>Sets verwalten</mat-card-title>
            </mat-card-header>

            <mat-card-content>
            </mat-card-content>

          </mat-card>
        </a>




        <a routerLink="/cards" class="cards-links-color cards-card">
          <mat-card class="info-card">

            <mat-card-header>
              <mat-card-title>Flashcards verwalten</mat-card-title>
            </mat-card-header>

            <mat-card-content>
            </mat-card-content>

          </mat-card>
        </a>



      </div>



    </div>



</div>
