<div class="quiz-container">

  <h1 class="quiz-header">Quiz</h1>

  @if (showConfig()){
      <app-quiz-config
        [sets]="sets()"
        (examStart)="onStartQuiz($event)">
      </app-quiz-config>
  }

  @if (showQuestion()){
      <app-quiz-question
        [quizState]="quizState()"
        [flashcards]="flashcards()"
        [currentFlashcard]="currentFlashcard()"
        (finishQuiz)="onFinishQuiz()">
      </app-quiz-question>
  }

  @if (showResult()){
      <app-quiz-result>

      </app-quiz-result>
  }

</div>
