@let card = flashcard();


@defer (when card)
{
  <mat-card class="card-detail" appearance="outlined">

    <mat-card-header>
      <mat-card-title>
        {{card?.question}}
      </mat-card-title>

      <div class="card-id-type-badge-wrapper">
        <span>#{{card?.id}}</span>
      </div>

      <mat-card-subtitle>
        <div class="card-detail-type-badge">
          {{card?.type | formatCardtype}}
        </div>
      </mat-card-subtitle>

    </mat-card-header>


    <mat-card-content>
      @if (card?.type === 'SINGLE_CHOICE' || card?.type === 'MULTIPLE_CHOICE')
      {
        @for (option of card?.options ?? []; track option.id; let i = $index)
        {
          <p>{{ i | formatIndexToLetter | uppercase }} {{ option.optionText }}</p>
        }
        @empty
        {
          <p>Flashcards wurden nicht gefunden.</p>
        }
      }
      @if (card?.type === 'TEXT')
      {
        <p></p>
      }
    </mat-card-content>

    <mat-card-content>
      <p><span class="card-detail-answer">Antwort:</span>{{card?.answer}}</p>
    </mat-card-content>


    <mat-card-footer>
      <mat-chip-set class="back-edit-chips-container">
        <mat-chip (click)="backToCards()">< Zurück</mat-chip>
        <mat-chip (click)="edit()">Editieren</mat-chip>
      </mat-chip-set>
    </mat-card-footer>

  </mat-card>

}
<!-- //TODO: unsauber gelöst, wenn id/99 ungültige flashcard id aufgerufen wird -->
@placeholder ()
{
  <div>
    <p>Flashcard wird geladen...</p>
    <p>(oder wurde nicht gefunden)</p>
  </div>
}
@error
{
  <div>
    <p>Hoppla! Etwas ist schiefgelaufen!</p>
    <p>Flashcard konnte nicht geladen werden.</p>
  </div>
}
