.dlg-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.dlg-content p {
  margin: 0;
  line-height: 1.6;
}

.dlg-actions {
  display: flex;
  gap: 8px;
}
.hover-red:hover {
  background-color: red;
  color: white;
}
.hover-blue:hover {
  background-color: blue;
  color: white;
}