<div class="my-app-container">



  <!-- NOTE: HEADER-->

  <header>

    <mat-toolbar>
      <mat-toolbar-row>

        <h1 class="header-footer-text-color">{{ title }}</h1>


      </mat-toolbar-row>
    </mat-toolbar>

    <hr class="header-hr">

  </header>



  <!-- NOTE: MAIN-->

  <main class="my-main">

    <router-outlet />

  </main>




    <!-- NOTE: FOOTER-->

<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="header-footer-text-color">{{footerTitle}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>





</div>
