@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.divider-overrides((
    // color: #3969fe,
  ));
}



.my-app-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 24px;
  min-height: 100vh;
}

.mat-toolbar-row {
  background-color: #3969fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-footer-text-color {
  color: white;
}
.header-hr {
  border-top: 1px solid #527bfe;
}

// .my-aside-main-container {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   flex: 1;
// }

.my-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
}

/* test objekte, später mit echten objekten ausprobieren, sonst löschen */
.my-aside1, .main1, .main2, .main3, .main4 {
  border-radius: 20px;
}


.my-aside1 {
  background-color: aquamarine;
  /* min-width: 20vw; */
  flex: 1;
}

.main1, .main2, .main3, .main4 {
  height: 200px;
  background-color: rebeccapurple;
}
.my-footer1 {
  background-color: cornflowerblue;
  height: 50px;
}





.my-footer {
  text-align: center;
}









/*//////////////// DESKTOP ////////////////*/
@media (min-width: 1024px) {

}
