.hover-white:hover{
    color: white;
}
.hover-green:hover{
    color: white;
    background-color: green;
}
.backerror:hover{ 
  color: #fff !important;
  background-color: red;
  border-color: red;

}