<div class="quiz-config">

  <h1 class="quiz-config-header">Quiz</h1>

  <div class="quiz-config-set">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Kartenset auswählen</mat-label>
      <mat-select [(ngModel)]="selectedSetId" id="selectSet">
        @for (set of sets(); track set.id) {
          <mat-option [value]="set.id">{{ set.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="quiz-config-mode">
    <label for="learnMode">
      <input type="radio" name="quizMode" id="learnMode" value="learn" checked [(ngModel)]="selectedQuizMode"/>
      <span>Lernmodus</span>
    </label>
    <label for="examMode">
      <input type="radio" name="quizMode" id="examMode" value="exam" [(ngModel)]="selectedQuizMode"/>
      <span>Prüfungsmodus</span>
    </label>
  </div>

  <div class="quiz-config-shuffle">
    <label for="shuffleCards">
      <mat-checkbox type="checkbox" name="shuffleCards" id="shuffleCards" [(ngModel)]="selectedShuffle"/>
      <span>Karten mischen?</span>
    </label>
  </div>

  @if (selectedQuizMode === 'exam'){
    <div class="quiz-config-timer">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Zeitlimit festlegen</mat-label>
        <mat-select [(ngModel)]="selectedTime">
          @for (option of timerOptions; track option) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  }

  <div class="quiz-config-buttons">
    <button mat-stroked-button routerLink="/">Zurück</button>
    <button mat-flat-button (click)="onStartQuiz()">Starte Quiz</button>
  </div>

</div>
