//NOTE: host für diese comp und root auf alle
@use '@angular/material' as mat;

:host {
  @include mat.progress-spinner-overrides((
    active-indicator-color: hotpink,
  ));
}


.card-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  // max-width: 95vw;

}


.card-list-title-addBtn {
  display: flex;
  gap: 20px;
}


.filter-search-results-container{
  width: 100%;
}

.filter-search-container {
  display: flex;
  gap: 10px;
  width: 100%;
}
.search-icon-text-container {
  display: flex;

}
.filter-search-Btn {
  width: 50px !important;
  min-width: unset !important;
  // height: 40px !important;
}
.filter-search-input {
  display: flex;
  border: solid 1px lightgrey;
  padding: 10px;
  border-radius: 8px;
  //TODO auskommentieren, weil benutzt wird
  flex: 1;
}
.filter-search-input:focus {
  border-color: #3969FE !important;
  outline: none;
  box-shadow: 0 0 0 2px rgba(57, 105, 254, .15);
}

.cardlist-placeholder-container, .cardlist-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.clickable-row {
  cursor: pointer;
  transition: background linear;

  &:hover {
    background-color: rgba(0, 0, 0, 0.01);
  }
}


// Tabelle Breite Inhalt Fix
table {
  width: 100%;
  table-layout: fixed;
}
.table-first-column {
  border-right: 1px solid #1a1b1f;
  width: 60px;
}
.table-content {
  overflow-wrap: break-word;
}



@media (min-width: 1024px) {

  .card-list-container {
    max-width: 50vw;
  }
}
