<div>
  <h1>Exam Mode</h1>
  @if (!examStarted) {
    <div>
      <label for="time">Zeitlimit auswählen:</label>
      <select [(ngModel)]="selectedTime" id="time">
        <option value="15">15 Minuten</option>
        <option value="30">30 Minuten</option>
        <option value="60">60 Minuten</option>
        <option value="90">90 Minuten</option>
        <option value="per-question">1 Minute pro Frage</option>
      </select>

      <label for="flashcardSet">Kartenset auswählen</label>
      <select [(ngModel)]="selectedSetId" id="flashcardSet">
      @for (set of sets(); track set.id) {
        <option [value]="set.id">{{ set.name }}</option>
      }
      </select>
      <button (click)="startExam()">Start</button>

    </div>
  }
  @if (examStarted) {
    <div>
      <div id="timer">
        ⏳ {{ formatTime() }}
      </div>

      <div class="card" id="currentCard">
        <h3>Frage {{ currentIndex + 1 }} / {{ flashcards().length }}</h3>
        <p>{{ flashcards()[currentIndex]?.question }}</p>

        @if (flashcards()[currentIndex]?.type === 'MULTIPLE_CHOICE') {
          <div class="options" id="mcOptions">
            @for (option of flashcards()[currentIndex]?.options; track option) {
              <label>
                <input type="checkbox" [name]="'option' + currentIndex" [value]="option.optionText" (change)="onMcOptionSelect($event, option.optionText)">
                {{ option.optionText }}
              </label>
            }
          </div>
        } @else if (flashcards()[currentIndex]?.type === 'SINGLE_CHOICE') {
          <div class="options" id="scOptions">
            <label>
              @for (option of flashcards()[currentIndex]?.options; track option) {
                <input type="radio" [name]="'option' + currentIndex" [value]="option.optionText" (change)="onScOptionSelect($event, option.optionText)">
                {{ option.optionText }}
              }
            </label>
          </div>
        } @else if (flashcards()[currentIndex]?.type === 'TEXT'){
          <div class="text-input" id="textInput">
            <input type="text" [(ngModel)]="textAnswer" />
          </div>
        }

<!--        @if (showAnswer) {-->
<!--          <div class="answer" id="showAnswer">-->
<!--            <strong>Antwort:</strong> {{ flashcards()[currentIndex]?.answer }}-->
<!--          </div>-->
<!--        }-->

<!--        <button (click)="toggleAnswer()" id="toggleAnswerBtn">-->
<!--          {{ showAnswer ? 'Antwort verbergen' : 'Antwort anzeigen' }}-->
<!--        </button>-->

        <button (click)="prevCard()" id="prevCardBtn">Vorherige Karte</button>
        <button (click)="nextCard()" id="nextCardBtn">Nächste Karte</button>
        <button (click)="submitAnswer()" id="submitAnswerBtn">Beantworten</button>
        <button (click)="finishExam()" id="finishExamBtn">Beenden</button>

      </div>


    </div>
  }
</div>
