
@defer (when !loading() && !error())
{
<mat-card>

  <mat-toolbar>
    <span *ngIf="mode() === 'create'; else editTitle">Neues Deck anlegen</span>
    <ng-template #editTitle>Deck bearbeiten</ng-template>
    <span class="mat-toolbar-spacer"></span>
    <button mat-icon-button class="backerror" (click)="cancel()" [disabled]="saving()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content>
    
    <fieldset [disabled]="loading() || saving() " >
      <mat-form-field appearance="outline" style="width:100%; ">
        
        <mat-label>Name</mat-label>
        
        <input
          matInput
          [value]="name()"
          (input)="name.set($any($event.target).value)"
          required />
        <mat-error *ngIf="!name().trim()">Name ist erforderlich</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width:100%;">
        <mat-label>Beschreibung</mat-label>
        <textarea
          matInput
          rows="5"
          [value]="description()"
          (input)="description.set($any($event.target).value)"></textarea>
      </mat-form-field>

     

      <h3 class="mat-h3">Verfügbare Karten auswählen ({{cardsAvailable().length}})</h3>
      <mat-selection-list #availableCardsList>
        @for (card of cardsAvailable(); track card.id) {
          <mat-list-option [value]="card.id">
            {{card.question}}
          </mat-list-option>
        }
        @if(cardsAvailable().length === 0) {
          <mat-list-item>Keine weiteren Karten verfügbar.</mat-list-item>
        }
      </mat-selection-list>

    </fieldset>

    <mat-progress-bar *ngIf="loading() || saving()" mode="indeterminate"></mat-progress-bar>

    <mat-card *ngIf="error()" appearance="outlined">
      <mat-card-content>
        <mat-icon color="warn" aria-hidden="true">error</mat-icon>
        {{ error() }}
      </mat-card-content>
    </mat-card>

  </mat-card-content>

  <mat-card-actions [align]="'end'">
    <button mat-stroked-button class="backerror" (click)="cancel()" [disabled]="loading() || saving()">Abbrechen</button>
    <button
      mat-stroked-button class="hover-green"
      (click)="save()"
      [disabled]="loading() || saving() || !name().trim()">
      {{ mode() === 'create' ? 'Anlegen' : 'Speichern' }}
    </button>
  </mat-card-actions>

</mat-card>
}@placeholder ()
{
  <div class="cardlist-placeholder-container">
    <mat-progress-spinner mode="indeterminate" [diameter]="40"></mat-progress-spinner>
    <p>Flashcards werden geladen...</p>
  </div>
}
@error
{
  <div class="cardlist-error-container">
    <p>Hoppla! Etwas ist schiefgelaufen!</p>
    <p>Flashcards konnten nicht geladen werden.</p>
  </div>
}