<div class="card-edit-container">
<h1>Flashcard editieren</h1>

  @if (selectedFlashcard?.type === 'TEXT')
  {
    <form [formGroup]="cardFormEditText" (ngSubmit)="submitEditText()">


    <mat-form-field>
      <mat-label for="question">Frage</mat-label>
      <textarea matInput id="question" formControlName="question" required></textarea>
      <mat-error>Frage ist erforderlich.</mat-error>
    </mat-form-field>

    <div>
      <p>Fragetyp: {{selectedFlashcard?.type | formatCardtype}}</p>
      <mat-form-field>
        <mat-label for="answer">Antwort 1</mat-label>
        <input matInput id="answer" formControlName="answer" required />
        <mat-error>
          @if (cardFormEditText.get('answer')?.invalid && cardFormEditText.get('answer')?.touched)
          {
            Eine Antwort ist erforderlich.
          }
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-button [routerLink]="['/cards', selectedFlashcard?.id]">Abbrechen</button>
      <button mat-button type="submit" [disabled]="cardFormEditText.invalid">Speichern</button>
    </div>

    </form>
  }
  @if (selectedFlashcard?.type === 'SINGLE_CHOICE')
  {
    <form [formGroup]="cardFormEditSingleChoice" (ngSubmit)="submitEditSingleChoice()">



      <mat-form-field>
        <mat-label for="question">Frage</mat-label>
        <textarea matInput id="question" formControlName="question" required></textarea>
        <mat-error>Frage ist erforderlich.</mat-error>
      </mat-form-field>


      <div>

        <div>
          <p>Fragetyp: {{selectedFlashcard?.type | formatCardtype}}</p>

          <mat-checkbox formControlName="createCorrect1"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer1">Antwort 1</mat-label>
            <input matInput id="createAnswer1" formControlName="createAnswer1" required />
            <mat-error>
              @if (cardFormEditSingleChoice.get('createAnswer1')?.invalid && cardFormEditSingleChoice.get('createAnswer1')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-checkbox formControlName="createCorrect2"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer2">Antwort 2</mat-label>
            <input matInput id="createAnswer2" formControlName="createAnswer2" required />
            <mat-error>
              @if (cardFormEditSingleChoice.get('createAnswer2')?.invalid && cardFormEditSingleChoice.get('createAnswer2')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-checkbox formControlName="createCorrect3"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer3">Antwort 3</mat-label>
            <input matInput id="createAnswer3" formControlName="createAnswer3" required />
            <mat-error>
              @if (cardFormEditSingleChoice.get('createAnswer3')?.invalid && cardFormEditSingleChoice.get('createAnswer3')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-checkbox formControlName="createCorrect4"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer4">Antwort 4</mat-label>
            <input matInput id="createAnswer4" formControlName="createAnswer4" required />
            <mat-error>
              @if (cardFormEditSingleChoice.get('createAnswer4')?.invalid && cardFormEditSingleChoice.get('createAnswer4')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-checkbox formControlName="createCorrect5"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer5">Antwort 5</mat-label>
            <input matInput id="createAnswer5" formControlName="createAnswer5" required />
            <mat-error>
              @if (cardFormEditSingleChoice.get('createAnswer5')?.invalid && cardFormEditSingleChoice.get('createAnswer5')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>



        <mat-error>
          @if (cardFormEditSingleChoice.hasError('singleChoiceNotNull'))
          {
            {{ cardFormEditSingleChoice.getError('singleChoiceNotNull') }}
          }
        </mat-error>

      <div>
        <button mat-button [routerLink]="['/cards', selectedFlashcard?.id]">Abbrechen</button>
        <button mat-button type="submit" [disabled]="cardFormEditSingleChoice.invalid">Speichern</button>
      </div>
      </div>

    </form>
  }
  @if (selectedFlashcard?.type === 'MULTIPLE_CHOICE')
  {
    <form [formGroup]="cardFormEditMultipleChoice" (ngSubmit)="submitEditMultipleChoice()">


    <mat-form-field>
      <mat-label for="question">Frage</mat-label>
      <textarea matInput id="question" formControlName="question" required></textarea>
      <mat-error>Frage ist erforderlich.</mat-error>
    </mat-form-field>



    <div>
      <p>Fragetyp: {{selectedFlashcard?.type | formatCardtype}}</p>

        <div>
          <mat-checkbox formControlName="createCorrect1"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer1">Antwort 1</mat-label>
            <input matInput id="createAnswer1" formControlName="createAnswer1" required />
            <mat-error>
              @if (cardFormEditMultipleChoice.get('createAnswer1')?.invalid && cardFormEditMultipleChoice.get('createAnswer1')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-checkbox formControlName="createCorrect2"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer2">Antwort 2</mat-label>
            <input matInput id="createAnswer2" formControlName="createAnswer2" required />
            <mat-error>
              @if (cardFormEditMultipleChoice.get('createAnswer2')?.invalid && cardFormEditMultipleChoice.get('createAnswer2')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-checkbox formControlName="createCorrect3"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer3">Antwort 3</mat-label>
            <input matInput id="createAnswer3" formControlName="createAnswer3" required />
            <mat-error>
              @if (cardFormEditMultipleChoice.get('createAnswer3')?.invalid && cardFormEditMultipleChoice.get('createAnswer3')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-checkbox formControlName="createCorrect4"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer4">Antwort 4</mat-label>
            <input matInput id="createAnswer4" formControlName="createAnswer4" required />
            <mat-error>
              @if (cardFormEditMultipleChoice.get('createAnswer4')?.invalid && cardFormEditMultipleChoice.get('createAnswer4')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-checkbox formControlName="createCorrect5"></mat-checkbox>
          <mat-form-field>
            <mat-label for="createAnswer5">Antwort 5</mat-label>
            <input matInput id="createAnswer5" formControlName="createAnswer5" required />
            <mat-error>
              @if (cardFormEditMultipleChoice.get('createAnswer5')?.invalid && cardFormEditMultipleChoice.get('createAnswer5')?.touched)
              {
                Eine Antwort ist erforderlich.
              }
            </mat-error>
          </mat-form-field>
        </div>



        <mat-error>
          @if (cardFormEditMultipleChoice.hasError('multipleChoiceNotNull'))
          {
            {{ cardFormEditMultipleChoice.getError('multipleChoiceNotNull') }}
          }
          @if (cardFormEditMultipleChoice.hasError('multipleChoiceMaxThreeNotNull'))
          {
            {{ cardFormEditMultipleChoice.getError('multipleChoiceMaxThreeNotNull') }}
          }
        </mat-error>


      </div>

      <div>
        <button mat-button [routerLink]="['/cards', selectedFlashcard?.id]">Abbrechen</button>
        <button mat-button type="submit" [disabled]="cardFormEditMultipleChoice.invalid">Speichern</button>
      </div>

    </form>
  }






</div>
